.display-main {
    width: 100%;
   
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: flex-start;
    /* flex-grow: 1; */
    flex-wrap: wrap;
    padding: 10px 10px 10px 10px;
}
.display-note {
    width: 20%;
    height: 30%;
    background-color: #fff;
    border-color: #e0e0e0;
    box-sizing: border-box;
    border-radius: 8px;
    transition-duration: 0.218s;
    box-shadow: 0 3px 5px rgba(0,0,0,0.20);
   
}