.appbar-main {
  
    .appbar {
      display: "flex";
      flex-direction: "row";
      justify-content: space-between;
      align-items: start;
      padding: 8px;
    }
    .fundologo {
      display: flex;
      justify-content: flex-start;
      align-items: start;
    }
  }
  .logout {
   padding: 20px 30px 20px 30px;
  }
  